<Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
  <SignedInfo>
    <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
    <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />
    <Reference URI="#Licensing">
      <DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" />
      <DigestValue>5z8Tyso0N6njDXtmLBTCplD/UAc=</DigestValue>
    </Reference>
  </SignedInfo>
  <SignatureValue>HihqrO/b4G2YgeIFonxGF/7Wrt/aktxA6hz2m0NnohLH1kYyGgVsGK5xwq7BWUW5prvkD7vX+0hO4VjpfApNEB2+Jl3LLXSG3iP4YbHBFmtRy00iOqk7dX4QuCytzcDOO6cPLiocotWHFF5n5PYLPCHtzrtUtA30gUl/5iY4nIg=</SignatureValue>
  <KeyInfo>
    <KeyValue>
      <RSAKeyValue>
        <Modulus>l8slyw1cbtPccvCM/sgrErnNXJMMYwxsuV74so72eENdDwyV1g4Z1WvVre2Dn6q02bSDlneNhV/625RRD4EG1L9cu8WFWvE/6vCsHy/zA+loVaXnvsJiBmK4j7JDTwRtvE51aoBpiJOkNfrSh3HVD12uxsHW0dMXpMgNSlyoEns=</Modulus>
        <Exponent>AQAB</Exponent>
      </RSAKeyValue>
    </KeyValue>
  </KeyInfo>
  <Object Id="Licensing">
    <License Name="EPiServer" xmlns="">
      <MetaData>
        <LicensedTo>William Patterson</LicensedTo>
        <LicensedCompany>Frontier Airlines</LicensedCompany>
        <LicenseNumber>479757</LicenseNumber>
        <LicenseRevision>479757</LicenseRevision>
        <LicenseType>30-Day Demo License</LicenseType>
        <LicenseCreated>2019-05-22 18:26:19</LicenseCreated>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="16.0" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A44CC811ABE3" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/06/2019 18:26:18" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="479757" Limit="2" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="EPiServerRelate+" xmlns="">
      <MetaData>
        <LicenseType>30-Day Demo License</LicenseType>
        <LicenseNumber>479757</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="16.0" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A44CC811ABE3" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/06/2019 18:26:18" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="479757" Limit="2" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="EPiServer Commerce" xmlns="">
      <MetaData>
        <LicenseType>30-Day Demo License</LicenseType>
        <LicenseNumber>479757</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="16.0" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A44CC811ABE3" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/06/2019 18:26:18" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="479757" Limit="2" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="ConnectForCrm" xmlns="">
      <MetaData>
        <LicenseType>30-Day Demo License</LicenseType>
        <LicenseNumber>479757</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="16.0" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A44CC811ABE3" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/06/2019 18:26:18" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="479757" Limit="2" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
    <License Name="ConnectForSharePoint" xmlns="">
      <MetaData>
        <LicenseType>30-Day Demo License</LicenseType>
        <LicenseNumber>479757</LicenseNumber>
      </MetaData>
      <Restrictions>
        <Restriction>
          <VersionRestriction From="7.0" To="16.0" Type="EPiServer.Licensing.RestrictionTypes.VersionRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MACRestriction Address="A44CC811ABE3" Type="EPiServer.Licensing.RestrictionTypes.MACRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <ValidToRestriction Date="07/06/2019 18:26:18" Type="EPiServer.Licensing.RestrictionTypes.ValidToRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <NotCommercialRestriction Type="EPiServer.Licensing.RestrictionTypes.NotCommercialRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
        <Restriction>
          <MultiSiteRestriction Id="479757" Limit="2" Type="EPiServer.Licensing.RestrictionTypes.MultiSiteRestriction, EPiServer.Licensing, Version=7.5.373.4, Culture=neutral, PublicKeyToken=8fe83dea738b45b7" />
        </Restriction>
      </Restrictions>
    </License>
  </Object>
</Signature>