@page
@using Vue.Net.Example.Core.Models
@using Vue.Net.WebComponents
@model IndexModel

@functions {

    public VueComponent Component1 => new VueComponent()
    {
        ComponentName = "Home",
        Message = "Hello dotnet core!"
    };
}
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @Component1.RenderComponent();
</div>
